In [1]:
%%sql
postgresql:///games

SELECT * 
FROM game_sales
ORDER BY games_sold DESC
LIMIT 10;

UsageError: Cell magic `%%sql` not found.

In [2]:
%%sql 

SELECT COUNT(g.game)
FROM game_sales AS g
LEFT JOIN reviews AS r
ON g.game = r.game
WHERE r.critic_score IS NULL
AND r.user_score IS NULL

In [3]:
%%sql

SELECT g.year , AVG(r.critic_score) AS avg_critic_score
FROM game_sales AS g
LEFT JOIN reviews AS r
ON g.game = r.game
GROUP BY g.year
ORDER BY AVG(r.critic_score) DESC
LIMIT 10;

4.8.0

In [ ]:
%%sql 

SELECT g.year, COUNT(g.game) AS num_games, ROUND(AVG(r.critic_score),2) AS avg_critic_score
FROM game_sales g
INNER JOIN reviews r
ON g.game = r.game
GROUP BY g.year
HAVING COUNT(g.game) > 4
ORDER BY avg_critic_score DESC
LIMIT 10;

In [ ]:
%%sql 

SELECT *
FROM top_critic_years
EXCEPT
SELECT year,avg_critic_score
FROM top_critic_years_more_than_four_games
ORDER BY avg_critic_score DESC;

In [ ]:
%%sql 

SELECT g.year, COUNT(g.game) AS num_games, ROUND(AVG(r.user_score),2) AS avg_user_score
FROM game_sales g
INNER JOIN reviews r
ON g.game = r.game
GROUP BY g.year
HAVING COUNT(g.game) > 4
ORDER BY avg_user_score DESC
LIMIT 10;

In [ ]:
%%sql 

SELECT year
FROM top_critic_years_more_than_four_games
INTERSECT
SELECT year
FROM top_user_years_more_than_four_games

In [ ]:
%%sql 

SELECT year ,ROUND(SUM(games_sold),2) AS total_games_sold
FROM game_sales
WHERE year IN 
( SELECT year
FROM top_critic_years_more_than_four_games
INTERSECT
SELECT year
FROM top_user_years_more_than_four_games) 
GROUP BY year
ORDER BY total_games_sold DESC;